* {
  box-sizing: border-box;
}

.dashboard__app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: column nowrap;
  background: #FFFFFF;
}

.dashboard__wrapper {
  width: 100%;
  height: 100vh;
  padding-left: 240px;;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.dashboard__title {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #4F4F4F;
}

.dashboard__email {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 23px;
  margin-bottom: 6px;
  color: #4F4F4F;
}

.dashboard__menus {
  width: 758px;
  height: 458px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 50px;
}

.dashboard__menu {
  display: flex;
  gap: 20px;
}

.dashboard__text {
  text-align: start;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.dashboard__text p {
  font-family: 'Kumbh Sans';
  font-style: normal;
  color: #4F4F4F;
}

.dashboard__text p:first-child {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.dashboard__text p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 133.09%;
}

.dashboard__icon--admins {
  width: 36px;
  height: 36px;
  background-image: url(../assets/dashboard_admin_icon.png);
}

.dashboard__icon--classes {
  width: 36px;
  height: 36px;
  background-image: url(../assets/dashboard_classes_icon.png);
}

.dashboard__icon--students {
  width: 36px;
  height: 36px;
  background-image: url(../assets/dashboard_students_icon.png);
}