.success__wrapper {
  gap: 70px;
}

.success__wrapper p {
  width: 287px;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #4F4F4F;
}
