.password__wrapper {
  gap: 20px;
}

.admin-signup__box {
  display: flex;
  flex-flow: column nowrap;
  text-align: start;
}

.admin-signup__box p:first-child {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #667085;
}

.least-password {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  padding-top: 10px;
  padding-left: 15px;
  color: #667085;
}