.information__wrapper {
  gap: 25px;
}

.information__wrapper--text {
  width: 238px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #667085;
}

.admin-signup__select {
  cursor: pointer;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 248px;
  height: 42px;
  border: 0.5px solid rgba(167, 167, 167, 1);
  border-radius: 4px;
  padding: 8px 15px;
  color: #667085;
}

admin-signup__select option {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.admin-signup__go-login {
  display: flex;
}

.admin-signup__go-login p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #667085;
}

.admin-signup__go-login a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-decoration: none;
  color: #2D88D4
}